<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IMGAES</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12"><div class="box"> <img src="{% static "images/shirts.jpg" %}" alt=""></div></div>
        <div class="col-lg-4 col-md-6 col-xs-12"><div class="box"> <img src="{% static "images/shirts.jpg" %}" alt=""></div></div>
        <div class="col-lg-4 col-md-6 col-xs-12"><div class="box"> <img src="{% static "images/shirts.jpg" %}" alt=""></div></div>

      </div>

    </div>

  </body>
</html>
